PORT=3000

DB_HOST=your-tidb-host
DB_PORT=4000
DB_USER=your-tidb-user
DB_PASSWORD=your-tidb-password
DB_NAME=your-database-name

# Comma-separated list
FRONTEND_URLS=https://tu-app.vercel.app,http://localhost:5173

# Set true to allow all *.vercel.app preview domains
ALLOW_VERCEL_PREVIEW=true
